<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>nl.root3.support</string>
	</array>
	<key>Label</key>
	<string>ca.ecuad.macadmin.SupportApp.helper</string>
	<key>MachServices</key>
	<dict>
		<key>ca.ecuad.macadmin.SupportApp.helper</key>
		<false/>
	</dict>
</dict>
</plist>
